<!DOCTYPE html>
<html lang="jp">

<head>
<%- include('./_assets/ejs/_meta') %>
<%- //include('./_assets/ejs/_tw_card',{config:config}) %>
<%- //include('./_assets/ejs/_ga',{config:config}) %>
<link rel="stylesheet" href="./css/style.css">
<title>Document</title>
</head>

<body>
  <h1>Three.jsサンプル</h1>

  <script src="./js/app.js"></script>
</body>

</html>